In [7]:
Student.objects.all()

# from faker import Faker
# f = Faker()
# for i in range(4):
#     Student.objects.create(name=f.name())
for s in Student.objects.all():
    print(s.name)
    
print(Student)
Student.objects.count()

학생
학생2
학생3
Gina Parsons
Jonathan Benson
Morgan Santos
Jorge Jenkins
<class 'mton.models.Student'>

7

In [8]:
Lecture.objects.all()
# dir(f)
# for i in range(4):
#     Lecture.objects.create(title=f.job())
for s in Lecture.objects.all():
    print(s.title)
Lecture.objects.count()

Ambulance person
Metallurgist
Database administrator
Mining engineer

4

In [9]:
Enrolment.objects.all()
# Enrolment.objects.create(student_id=3, lecture_id=4)
for s in Enrolment.objects.all():
    print(s.student.name, s.lecture.title)
Enrolment.objects.count()

학생3 Ambulance person
학생 Ambulance person
학생2 Metallurgist
학생3 Metallurgist

4

In [18]:
s1 = Student.objects.get(name='학생')
s1.enrolment_set.all()[0].lecture.title

e1 = s1.enrolment_set.first()
e1.student.enrolment_set.all()

In [22]:
s2 = Student.objects.get(id=3)

In [23]:
for e in s2.enrolment_set.all():
    print(e.lecture.title)

Ambulance person
Metallurgist

In [31]:
Hotel.objects.all()

<QuerySet [<Hotel: Hotel object (1)>, <Hotel: Hotel object (2)>, <Hotel: Hotel object (3)>, <Hotel: Hotel object (4)>, <Hotel: Hotel object (5)>, <Hotel: Hotel object (6)>, <Hotel: Hotel object (7)>, <Hotel: Hotel object (8)>, <Hotel: Hotel object (9)>, <Hotel: Hotel object (10)>]>

In [32]:
Client.objects.all()

<QuerySet [<Client: Client object (6)>, <Client: Client object (4)>, <Client: Client object (5)>, <Client: Client object (2)>, <Client: Client object (9)>, <Client: Client object (3)>, <Client: Client object (1)>, <Client: Client object (10)>, <Client: Client object (8)>, <Client: Client object (7)>]>

In [34]:
Client.objects.last().hotel_set.count()

0

In [1]:
# Hotel.dummy(1)
nh = Hotel.objects.last()
nh.clients.all()
# nh.clients.add(
#     Client.objects.last(),
#     Client.objects.get(id=1),
#     Client.objects.get(id=2),
#     Client.objects.get(id=3),
#     Client.objects.get(id=4),
# )

nh.clients.filter(name__contains='h')[0].name

'Elizabeth Smith'

In [51]:
print(Client.objects.last().hotel_set.all().values('name'))

for h in Client.objects.last().hotel_set.all():
    print(h.name)

<QuerySet [{'name': 'Martin-Madden'}]>
Martin-Madden

In [5]:
Client.objects.last().hotels.all()
Hotel.objects.last().clients.all()