In [41]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [7]:
greeting = 'hI! EveryOne, I\'m ssafy'
new_greeting = greeting.capitalize()

print(greeting)
print(new_greeting)

hI! EveryOne, I'm ssafy
Hi! everyone, i'm ssafy

In [8]:
greeting.title()

"Hi! Everyone, I'M Ssafy"

In [9]:
greeting.upper()

"HI! EVERYONE, I'M SSAFY"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [12]:
'!'.join('아파요')

'아!파!요'

### feelings = ['아파요', '어려워요', '힘들어요', '죽겠다']
'으악!'.join(feelings)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [1]:
caffes.extend(['droptop', '빽다방'])

a
b
c

In [2]:
caffes += ['폴 바셋', 'angelinus']
print(caffes)

NameError: name 'caffes' is not defined

In [ ]:
caffes.append('the venti')
print(caffes)

In [ ]:
# .extend와 string은 조심!!!!!!!!!!!!
caffes.extend('happyhacking')
print(caffes)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [1]:
fast_foods = ['맥도날드', '버거킹', 'KFC']

In [3]:
fast_foods.insert(0, '맘스터치')
fast_foods.insert(-1, '롯데리아')
fast_foods.insert(-0, '롯데리아2')
print(fast_foods)

['롯데리아2', '맘스터치', '맘스터치', '맥도날드', '버거킹', '롯데리아', '롯데리아', 'KFC']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [6]:
numbers = [2, 1, 2, 3, 1, 2]
print(numbers)

[2, 1, 2, 3, 1, 2]

In [7]:
numbers.remove(1)
print(numbers)

[2, 2, 3, 1, 2]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [17]:
a = [1, 2, 3, 4, 5]

In [18]:
a.pop()
print(a)
a.pop(0)
print(a)

[1, 2, 3, 4]
[2, 3, 4]

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [19]:
b = [1, 2, 3, 4, 5]
b.index(4)

3

In [21]:
# b.index(100)  # 에러 발생!

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [22]:
alph = ['a', 'b', 'c', 'c', 'b', 'd']
alph.count('b')

2

In [25]:
target = 'b'
for i in range(alph.count(target)):
    alph.remove(target)
alph

['a', 'c', 'c', 'd']

In [26]:
def rm_in_list(l, target):
    for i in range(l.count(target)):
        l.remove(target)
    return l

l = [1, 2, 3, 4, 5, 1, 2, 3, 1, 2, 2]
rm_in_list(l, 1)

[2, 3, 4, 5, 2, 3, 2, 2]

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [42]:
my_list = [4, 3, 2, 1]
sorted_list = sorted(my_list)
print(my_list)
print(sorted_list)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [30]:
my_list = [4, 3, 2, 1]
sorted_list = my_list.sort()
print(my_list)
print(sorted_list)

[1, 2, 3, 4]
None

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [31]:
class_mates = ['이원진', '지상현', '조성규']
r_class_mates = class_mates.reverse()
print(class_mates, r_class_mates)

['조성규', '지상현', '이원진'] None

## 복사

In [33]:
# 리스트 복사를 해봅시다.
list_a = [1, 2, 3]
list_copy = list_a
print(list_copy)

origin = 'A'
copy = origin
print(origin, copy)

[1, 2, 3]
A A

In [34]:
# b의 값을 바꾸고 a를 출력해봅시다.
origin = 'B'
print(origin, copy)

B A

In [35]:
origin = ['A']
copy = origin
print(origin, copy)

['A'] ['A']

In [36]:
origin.append('B')
print(origin, copy)

['A', 'B'] ['A', 'B']

In [37]:
# 실제로 같은지 확인해봅시다.
print(origin == copy)
print(id(origin) == id(copy))

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

In [43]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [44]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [38]:
# 복사 예시
a = [1, 2, 3]
b = a[:]
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [39]:
# 복사 예시2
a = [1, 2, 3]
b = list(a)
a[0] = 5

print(a, b)

[5, 2, 3] [1, 2, 3]

In [45]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [53]:
# 얕은 복사 예시
ss3 = {
    'teacher': 'neo',
    'gamtoo': {
        'leader': 'hwang',
        'CA': 'kang'
    }
}

new_ss3 = dict(ss3)

ss3['gamtoo']['CA'] = 'KangJW'
print(ss3, new_ss3, sep='\n')

{'teacher': 'neo', 'gamtoo': {'leader': 'hwang', 'CA': 'KangJW'}}
{'teacher': 'neo', 'gamtoo': {'leader': 'hwang', 'CA': 'KangJW'}}

In [50]:
o = [1, 2, [3, 4]]
c = o[:]
o[0] = 100
o[2][0] = 100
print(o, c)

[100, 2, [100, 4]] [1, 2, [100, 4]]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [54]:
# 깊은 복사 예시
import copy

ss3 = {
    'teacher': 'neo',
    'gamtoo': {
        'leader': 'hwang',
        'CA': 'kang'
    }
}

new_ss3 = copy.deepcopy(ss3)

ss3['gamtoo']['CA'] = 'KangJW'
print(ss3, new_ss3, sep='\n')

{'teacher': 'neo', 'gamtoo': {'leader': 'hwang', 'CA': 'KangJW'}}
{'teacher': 'neo', 'gamtoo': {'leader': 'hwang', 'CA': 'kang'}}

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [56]:
numbers = list(range(100))
print(numbers)
numbers.clear()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [61]:
even_list = [ x * 2 for x in range(1, 6) ]
even_list

[2, 4, 6, 8, 10]

In [63]:
cubic_list = [ x ** 3 for x in range(1, 11) ]
cubic_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [78]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

pair = [ (boy, girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [131]:
result = [ (x, y, z) for x in range(1, 50) for y in range(x + 1, 50) for z in range(y + 1, 50) if x**2 + y**2 == z**2 ]
result

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [133]:
words = 'Life is too short, you need python!'
new_words = ''.join(c for c in words if c not in 'aeiouAEIOU')
new_words

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [140]:
fruits = { 'apple': '사과', 'banana': '바나나' }

In [141]:
apple = fruits.pop('apple')
print(apple, fruits)

사과 {'banana': '바나나'}

In [142]:
fruits.pop('melon')

KeyError: 'melon'

In [144]:
fruits.pop('melon', False)
fruits.pop('melon', '없음 ㅠㅠ')

'없음 ㅠㅠ'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [147]:
fruits = { 'apple': '사과', 'bananana': '바나나', 'melon': '멜론' }

In [148]:
fruits.update(banana='버내너')
fruits

{'apple': '사과', 'bananana': '바나나', 'melon': '멜론', 'banana': '버내너'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [150]:
fruits.get('pineapple')

In [151]:
fruits.get('apple')

'사과'

In [152]:
fruits.get('strawberry', False)

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [32]:
cubic_dict = { x: x ** 3 for x in range(1, 10) }
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [38]:
# 미세먼지 농도가 80 초과인 지역만 뽑기
dusts = { 'seoul': 103, 'kyungki': 79, 'dajeon': 36, 'beijing': 500 }
bad_dusts = { city: dust for city, dust in dusts.items() if dust > 80 }
bad_dusts

{'seoul': 103, 'beijing': 500}

In [40]:
# key는 key를 쓰고, value를 80 초과면 나쁨 / 아니면 안나쁨
how_bad = { city: '나쁨' if dust > 80 else '안나쁨' for city, dust in dusts.items() }
how_bad

{'seoul': '나쁨', 'kyungki': '안나쁨', 'dajeon': '안나쁨', 'beijing': '나쁨'}

# set 메서드 활용

## 추가 및 삭제

### `.add(element)`
`element`를 추가합니다

In [156]:
a = {1, 2, 3, 4}
a.add(5)
a.add(5)
a

{1, 2, 3, 4, 5}

### `.update(*others)`
여러가지(others) 값을 순차적으로 추가합니다.

반드시 iterable한 값을 넣어야 합니다.

In [163]:
a = {1 , 2, 3}
a.update({5,5,5,5,2}, {7, 8, 10, 7})
print(a)

{1, 2, 3, 5, 7, 8, 10}

### `.remove(element)`
`element`를 set에서 삭제하고, 없으면 Error를 발생시킵니다.

In [160]:
a.remove(11)

KeyError: 11

In [164]:
a.remove(1)
a

{2, 3, 5, 7, 8, 10}

### `.discard(element)`
`element`를 삭제하나, 에러가 발생하지 않습니다.

In [165]:
b = {1, 2, 3}
b.discard(5)
b

{1, 2, 3}

### `.pop()`
임의의 원소를 제거하고 반환합니다.

In [25]:
c = {1, 2, 3, 4, 5}

In [30]:
c.pop()
print(c)

set()

## 정리!! `map()`, `zip()`, `filter()`

### `map(function, iterable)`
* iterable의 원소들을 function을 적용한 후, 그 결과를 돌려줍니다.
* iterable
    * list
    * dict
    * set
    * str
    * tuple
    * range
    * bytes
* `map()`의 return은 map object 형태로 나온다.

In [47]:
my_input = input('입력 : ')
l = my_input.split()
result = [ int(s) for s in l ]
result

입력 : 1 351 12 5431

[1, 351, 12, 5431]

In [52]:
l = ['1', '2', '3', '2141', '411', '178']
r = map(int, l)
print(*r)

1 2 3 2141 411 178

In [55]:
# 숫자를 띄어쓰기로 입력 받을 때, 각각을 리스트에 숫자로 저장.
my_input = list(map(int, input('입력 : ').split()))
print(my_input)

입력 : 1 13123 12321 13 21 312 312 321
[1, 13123, 12321, 13, 21, 312, 312, 321]

In [58]:
def a(n):
    return 0

print(a)
my_input = list(map(a, input('입력 : ').split()))
print(my_input)

<function a at 0x000002931DC9B598>
입력 : 1 21312 3123 12 123 1231
[0, 0, 0, 0, 0, 0]

In [64]:
def cube(n):
    return n ** 3
    
n = [1, 2, 3]
cubic_n = list(map(cube, n))
cubic_n

[1, 8, 27]

In [68]:
num = [1, 2, 34, 5]
num_str = ''.join(map(str, num))
num_str

'12345'

In [70]:
data = [10, 20, 30, 40]

def make_list_html(n):
    return f'<li class="list container">{n}</li>'

html_data = list(map(make_list_html, data))
html_data

['<li class="list container">10</li>',
 '<li class="list container">20</li>',
 '<li class="list container">30</li>',
 '<li class="list container">40</li>']